extends layout

block content
  h1= title
  p Welcome to #{title}
  p test #{response}
  form(method="POST", action="/process_post")
    p Date
    input(type="text", name="date", value=" ")
    input(type="submit")
